{% extends 'base.html' %}

{% block title %}Search Entries{% endblock %}

{% block head_script %}

{% endblock %}

{% block content %}
<div id="page">
	<form method="GET" action="{% url search_results %}" name="search_form">
		User: <input name="users" type="text" /><br /> <!-- probably better as pull down list? -->
		Tags: <input name="tags" type="text" /><br /> <!-- <datalist> probs? -->
		Text: <input name="fulltext" type="text" /><br />
		Sort by: <select name="order_setting">
					<option value="creator">Creator</option>
					<option value="date_posted" selected>Date Posted</option>
					<option value="title">Title</option>
				</select><br />
		<input type="radio" name="order" value="asc">Ascending</input>
		<input type="radio" name="order" value="dsc" checked>Descending</input><br />
		<input type="hidden" name="filter" value="fulter" />
		<button type="submit" name="searched" value="True">Search</button><button type="reset">Reset</button>
	</form>
	<hr />
	{% if searched %}
		{% if results %}
			{% for entry in results %}
				{% include 'entry_mini.html' %}<br />
			{% endfor %}
		{% else %}
			<span>No results found for your queries!</span>
		{% endif %}
	{% endif %}
</div>
{% endblock %}

{% block body_script %}
<script>
	function userFilter(searchstring) {
	}
	function tagFilter(searchstring) {
	}
</script>
{% endblock %}